header {
    background-color: gray;
}
article {
    width: 75%;
    height: 1100px;
    float: left;
}
aside {
    background-color: gray;
    width: 25%;
    height: 1100px;
    float: right;
}
footer{
    background-color: gray;
    width: 100%;
    clear: left;
    position: fixed;
    top: 95%;
}

.blahaj-img {
    float: left;
    width: 200px;
}
.mario-img {
    float: right;
    width: 250px;
}
.ad-img {width: 100%;}

li {margin-top: 20px}
h3 {color: white;}